<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
        <link rel="stylesheet" href="../static-files/css/normalize.css">
        <link rel="stylesheet" href="../static-files/css/master.css">
        <link rel="stylesheet" href="../static-files/css/pmatest.css">
        <title>Who Am I - Vic Lawrence & Associates Limited</title>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img class="img-fluid" src="../static-files/img/logow.png" alt="">
            </a>
            <div class="navbar-nav ml-auto pt-2">
                <p class="nav-item"><span id="username">John Emmanuel</span></p>
            </div>
        </nav>
        <div class="shutter" id="shutterTop"></div>
        <div class="shutter" id="shutterBottom"></div>
        <div class="skew-wrapper-top">
            <div class="skew-top"></div>
        </div>
        <div class="skew-wrapper-bottom">
            <div class="skew-bottom"></div>
        </div>
        <div class="main-content">
            <div class="content-wrapper">
                <div class="description">
                    <p><strong>Choose the option that best describes you. Don’t over think it; your first choice [gut instinct] is the best one.</strong></p>
                </div>
                <div class="form-div text-center my-5">
                    <form method="POST">
                        <div class="question-wrapper make-visible">
                            <label class="input-container">Bold
                                <input type="radio" class="ques1" name="ques1" value="1">
                                <span class="checkmark"></span>
                            </label>
                            <label class="input-container">Talkative
                                <input type="radio" class="ques1" name="ques1" value="2">
                                <span class="checkmark"></span>
                            </label>
                            <label class="input-container">Sweet
                                <input type="radio" class="ques1" name="ques1" value="3">
                                <span class="checkmark"></span>
                            </label>
                            <label class="input-container">Attentive
                                <input type="radio" class="ques1" name="ques1" value="4">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="question-wrapper">
                            <label class="input-container">Direct
                                <input type="radio" class="ques2" name="ques2" value="1">
                                <span class="checkmark"></span>
                            </label>
                            <label class="input-container">Persuasive
                                <input type="radio" class="ques2" name="ques2" value="2">
                                <span class="checkmark"></span>
                            </label>
                            <label class="input-container">Cautious
                                <input type="radio" class="ques2" name="ques2" value="3">
                                <span class="checkmark"></span>
                            </label>
                            <label class="input-container">Steady
                                <input type="radio" class="ques2" name="ques2" value="4">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="question-wrapper">
                            <label class="input-container">Original
                                <input type="radio" class="ques3" name="ques3" value="1">
                                <span class="checkmark"></span>
                            </label>
                            <label class="input-container">Charming
                                <input type="radio" class="ques3" name="ques3" value="2">
                                <span class="checkmark"></span>
                            </label>
                            <label class="input-container">Flowing
                                <input type="radio" class="ques3" name="ques3" value="3">
                                <span class="checkmark"></span>
                            </label>
                            <label class="input-container">Conservative
                                <input type="radio" class="ques3" name="ques3" value="4">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="question-wrapper">
                            <label class="input-container">Decisive
                                <input type="radio" class="ques3" name="ques4" value="1">
                                <span class="checkmark"></span>
                            </label>
                            <label class="input-container">Cordial
                                <input type="radio" class="ques3" name="ques4" value="2">
                                <span class="checkmark"></span>
                            </label>
                            <label class="input-container">Soft-Spoken
                                <input type="radio" class="ques3" name="ques4" value="3">
                                <span class="checkmark"></span>
                            </label>
                            <label class="input-container">Timid
                                <input type="radio" class="ques3" name="ques4" value="4">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="row btn-div">
                    <div class="col-6">
                        <button type="button" class="actionButton" id="back">Back</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="actionButton" id="next">Next</button>
                        <button type="button" class="actionButton hideButton" id="finish">Finish</button>
                    </div>
                </div>
            </div>
            <p class="pageInfo mb-2"><span id="questionCount"></span></p>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../static-files/js/functions.js"></script>
        <script type="text/javascript" src="../static-files/js/animation.js"></script>
    </body>
</html>
