<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="../static-files/img/logoc.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Nunito" rel="stylesheet">
        <link rel="stylesheet" href="../static-files/css/normalize.css">
        <link rel="stylesheet" href="../static-files/css/master.css">
        <link rel="stylesheet" href="../static-files/css/pmatest.css">
        <link rel="stylesheet" href="../static-files/css/thankyou.css">
        <title>Success — Vic Lawrence & Associates Limited</title>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img class="img-fluid" src="../static-files/img/logow.png" alt="">
            </a>
        </nav>
        <div class="skew-wrapper-top">
            <div class="skew-top"></div>
        </div>
        <div class="skew-wrapper-bottom">
            <div class="skew-bottom"></div>
        </div>
        <div class="intro-div">
            <div class="content-wrapper">
                <div class="description">
                    <p>Congratulations John! You have completed the VLA Who am I?  test. Click View results below to read about your personality.</p>
                    <p>You’d love it!</p>
                </div>
                <div class="row btn-div">
                    <div class="col-6">
                        <button type="button" class="actionButton" id="sendToEmail">Send to my email</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="actionButton" id="view">View report</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../static-files/js/functions.js"></script>
        <script type="text/javascript" src="../static-files/js/thankyou.js"></script>
    </body>
</html>
